.vs/SubscriptionApp/DesignTimeBuild/.dtbcache
.vs/SubscriptionApp/DesignTimeBuild/.dtbcache.v2
.vs/SubscriptionApp/v15/.suo
.vs/SubscriptionApp/v15/Server/sqlite3/db.lock
.vs/SubscriptionApp/v15/Server/sqlite3/storage.ide
.vs/SubscriptionApp/v15/Server/sqlite3/storage.ide-shm
.vs/SubscriptionApp/v15/Server/sqlite3/storage.ide-wal
.vs/SubscriptionApp/v16/.suo
